@import "tailwindcss";

@font-face {
    font-family: Roboto;
    src: url("../src/assets/fonts/Roboto-Regular.ttf");
}

@theme {
    --color-primary: #f05c04;
    --font-sans: Roboto, "sans-serif";
}